
#
# JMX ACL specific to org.apache.camel.processors MBean
#
# For a description of the format of this file, see jmx.acl.cfg
#
dumpStatsAsXml = admin, manager, viewer
get* = admin, manager, viewer
is* = admin, manager, viewer
set* = admin, manager
reset = admin, manager
stop = admin, manager
start = admin, manager

