
#
# JMX ACL specific to jolokia.Config.hawtio MBean
#
# For a description of the format of this file, see jmx.acl.cfg
#
is*  = admin, manager, viewer
get* = admin, manager, viewer
set* = admin, manager
debugInfo = admin, manager, viewer
setHistoryEntriesForAttribute = admin, manager
setHistoryEntriesForOperation = admin, manager
setHistoryLimitForOperation = admin, manager
resetHistoryEntries = admin, manager
resetDebugInfo = admin, manager
setHistoryLimitForAttribute = admin, manager

